.userProfile img {
    width: 100px;
    height: 100px;
}

.userProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.userDescription {
    padding-left: 10px;
}

.item {
    padding-top: 5px;
}